.sdWrap {
  margin-top: 100px;
}

.sdHead {
  display: flex;
  gap: 5%;
}

.sdImg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.sdImg img {
  width: 50%;
  height: auto;
}

.sdTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sdTarget {
  color: grey;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

.sdBrief {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.sdPrice {
  display: flex;
  align-items: center;
  gap: 1%;
  font-size: 1.1rem;
  font-weight: 500;
}

.sdMrp {
  text-decoration: line-through;
  color: grey;
}

.sdBuyButton {
  display: flex;
  justify-content: flex-start;
  margin: 1% 0%;
}

.sdBuyButton a {
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: rgba(0, 0, 0, 0.785);
  color: white;
  border-radius: 9999px;
  border: none;
  font-weight: 600;
}

.sdIncludesHead {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.sdIncludedList {
  padding-left: 5%;
  list-style: circle;
  line-height: 1.5;
}

.sdFoot {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.sdSecWrap {
  width: 77%;
}

.sdDesc {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 2% 0%;
}

.sdServices {
  margin-top: 1%;
}

.sdServciseHead {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.sdService {
  margin-bottom: 1rem;
}

.sdServiceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.515);
  border-radius: 999px;
  padding: 1rem;
}

.sdServiceName {
  font-weight: 500;
  color: #4882ee;
}

.sdServiceArrow {
  font-size: 1.2rem;
}

.sdServiceInfo {
  line-height: 1.5;
  padding: 3%;
  border-radius: 1rem;
  margin-top: 1%;
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 100%;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .sdHead {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .sdImg {
    align-items: center;
  }

  .sdIncludes {
    display: none;
  }

  .sdTarget {
    font-size: 1rem;
    margin-top: 2%;
  }

  .sdPrice {
    gap: 2%;
  }

  .sdBrief {
    width: 77%;
    margin-top: 5%;
  }

  .sdPrice {
    margin: 5% 0%;
  }
  .sdBuyButton {
    margin: 2% 0%;
  }
  .sdBuyButton a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sdServciseHead {
    margin-top: 8%;
    margin-bottom: 4%;
  }
  .sdServiceHeader {
    font-size: 0.8rem;
  }

  .sdServiceInfo {
    margin: 4% 0%;
  }
}
