.landpageWrapper {
  background: radial-gradient(
    circle at 0% 0%,
    rgba(77, 81, 91, 1),
    #36455a,
    #121826,
    rgba(24, 28, 40, 1),
    rgba(17, 21, 32, 1)
  );
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landNavWrapper {
  width: 100%;
}

.landSectionWrapper {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
  /* margin-bottom: 3rem; */
}

.landSectionCont {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2%;
  flex: 1;
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: normal;
}

.landSectionCont p {
  /* border: 1px solid red; */
  width: 100%;
  font-size: 4.5vw;
  opacity: 0;
  color: white;
  animation: slideUp 1s ease forwards;
  animation-fill-mode: forwards;
}

.landSectionCont p:nth-child(1) {
  animation-delay: 0.5s;
}

.landSectionCont p:nth-child(2) {
  animation-delay: 1s;
}

.landSectionCont p:nth-child(3) {
  animation-delay: 1.5s;
}
.landSectionCont p {
  text-shadow: 6px 6px 10px black;
}
.landSectionImg {
  /* border: 1px solid white; */
  flex: 1;
  max-width: 100%;
  /* box-shadow: 0 0 15px 8px rgba(255, 255, 255, 0.209); */
}

.landSectionImg img {
  width: 100%;
  height: auto;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
    color: #e15119;
  }
  50% {
    color: #e15119;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    color: white;
  }
}
@media (max-width: 768px) {
  .landSectionWrapper {
    width: 100%;
    padding: 0;
  }
  .landSectionCont {
    /* padding-right: 1%; */
    /* padding-left: 5%; */
  }
  .landSectionCont p {
    font-size: 1rem;
  }
  /* .landSecHead {
    font-size: 0.8rem;
  }

  .landSecQuote {
    font-size: 0.5rem;
  } */

  /* .landSecButton button {
    font-size: 0.5rem;
    padding: 0.6rem 1.5rem;
  } */
  /* .landSectionImg {
    padding-right: 3%;
  } */
  .landSectionImg img {
    max-width: 18.75rem;
  }
}
