.landpageWrapper {
  width: 100%;
}

.landNavWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.lsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 20px;
}

.lsImg {
  flex: 1;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(30px);
  animation: imgMoveUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes imgMoveUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.lsImg img {
  width: 100%;
  height: auto;
}

.lsCont {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5%;
  opacity: 0;
  transform: translateX(-100px);
  animation: contSlideIn 1s ease-out forwards;
}

@keyframes contSlideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.dat {
  border-radius: 50px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
  padding: 15px 20px;
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: black;
}

.movingPill {
  width: 100px;
  height: 100%;
  background: radial-gradient(
    circle at 125% 125%,
    #31d2e8,
    rgba(49, 210, 232, 1),
    #4882ee
  );
  border-radius: 50px;
  position: absolute;
  top: 0;
  animation: movePill 10s linear infinite;
  pointer-events: none;
}

@keyframes movePill {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: calc(100% - 100px);
  }
}

.dat p {
  position: relative;
  /* color: rgb(255, 255, 255); */
  font-size: 1.5rem;
  font-weight: 500;
}

.lsQuote {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 5rem;
  width: 100%;
}

.lsQuote p {
  font-weight: 800;
}

.lsMission {
  text-align: left;
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.3rem;
}

.lsShape {
  font-family: "Bungee Outline", sans-serif;
  font-style: normal;
  color: #04befe;
  font-size: 6rem;
}

@media (max-width: 1024px) {
  .lsWrapper {
    flex-direction: column-reverse;
  }
  .dat {
    width: 100%;
    margin-top: 2%;
  }
  .dat p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .lsWrapper {
    flex-direction: column-reverse;
  }

  .lsImg,
  .lsCont {
    min-width: 100%;
  }
  .lsQuote {
    font-size: 2.8rem;
    width: 80%;
    text-align: center;
  }
  .dat {
    width: 95%;
    margin-top: 5%;
    padding: 15px 20px;
  }
  .lsCont {
    padding: 0%;
  }

  .dat p {
    font-size: 1rem;
  }

  .lsMission {
    font-size: 1rem;
    width: 80%;
    margin-bottom: 3%;
  }
  .movingPill {
    animation: movePill 8s linear infinite;
  }
  .lsShape {
    font-size: 3.2rem;
  }
}

@media (max-width: 455px) {
  .lsQuote {
    font-size: 2.1rem;
  }
  .lsShape {
    font-size: 2.5rem;
  }
  .dat {
    padding: 10px 10px;
  }
  .dat p {
    font-size: 0.82rem;
  }

  .lsMission {
    font-size: 0.9rem;
  }
  .movingPill {
    animation: movePill 5s linear infinite;
  }
}
