.tfWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  background: radial-gradient(
    circle at 125% 125%,
    #4882ee,
    rgba(49, 210, 232, 1),
    #31d2e8
  );
}

.tfSectionCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 0%;
  flex: 2;
}

.tfSecHead {
  text-align: left;
  /* font-size: 2.1rem; */
  font-size: 36px;
  color: rgb(255, 255, 255);
  padding-left: 5%;
}

.tfSecHead span {
  color: rgba(0, 0, 0, 0.785);
}

.tfSecQuote {
  text-align: left;
  /* font-size: 1rem; */
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 2%;
}
.tfSecButton {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 3%;
  padding-left: 5%;
}

.tfSecButton a {
  background-color: rgba(0, 0, 0, 0.785);
  padding: 1rem 2rem;
  border-radius: 9999px;
  font-size: 1rem;
  border: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.tfSecButton a:hover {
  background-color: #efefef;
  color: black;
}

.tfSectionImg {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.tfSectionImg img {
  width: 100%;
  max-width: 25rem;
  height: 100%;
}
@media (min-width: 769px) {
  .tfSectionImg img {
    flex: 2;
  }
}
@media (width: 768px) {
  .tfSecHead {
    background-color: rgba(0, 0, 0, 0.785);
    width: 100%;
    text-align: center;
    padding: 2%;
  }
  .tfSectionCont {
    justify-content: flex-start;
    gap: 4rem;
    flex: 1.5;
  }
  .tfSecQuote p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .tfSectionWrapper {
    display: flex;
    justify-content: center;
    padding: 0% 3%;
  }
  .tfWrap {
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
  }
  .tfSecHead {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.785);
    width: 100%;
    text-align: center;
  }

  .tfSecHead span {
    color: #31d2e8;
  }

  .tfSecQuote {
    font-size: 0.7rem;
  }

  .tfSecButton a {
    font-size: 0.7rem;
  }
  .tfDisc {
    font-size: 3.5rem;
  }
}
@media (max-width: 550px) {
  .tfSectionCont {
    gap: 0;
  }
  .tfSecHead {
    padding: 2%;
  }
  .tfFoot {
    display: flex;
  }
  .tfQuoteButton {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0%;
  }
  .tfSectionImg {
    min-height: 400px;
    flex: 1;
  }
  /* .tfSectionImg {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  } */
  /* .tfSectionImg img {
    height: 300px;
  } */
}
